header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #a8020f;
    color: white;
}

.header-image {
    width: 100%;
    height: auto;
    background-color: white;
}

h2 {
    margin: 50px 100px;
    font-size: 32px;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-tile {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: white
}

.product-tile:hover {
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.12);
}

.product-image {
    height: 250px;
    width: 300px;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-title {
    display: flex;
    justify-content: space-between;
}

.product-detail {
    display: flex;
}

.product-price {
    margin: 0 20px 0 30px;
    text-wrap: nowrap;
}

#sidepanel {
    display: none;
    background-color: white;
    border: 1px solid #01181d;
    height: 100%;
    width: 350px;
    overflow: scroll;
}

#sidepanel.show {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}